include *.txt
include README.md
include pyproject.toml

# CHANGE PKG NAME HERE
graft ioos_pkg_skeleton

prune docs
prune tests
prune notebooks
prune *.egg-info

global-exclude *.nc

exclude *.yml
exclude *.enc
exclude .gitignore
exclude .isort.cfg
