include *.txt
include *.md
include *.toml

graft ioos_pkg_skeleton

prune docs
prune tests
prune notebooks
prune *.egg-info

exclude .gitignore
exclude ioos_pkg_skeleton/_version.py

global-exclude *.nc
global-exclude *.yaml
global-exclude *.yml
